{% extends 'base.html' %}

{% block css %}
	<style type="text/css">

		.home{
			padding-left: 6%;
			padding-right: 6%;
			padding-bottom: 100px;
		}
		.heading{
			text-align: center;		
			font-size: 46;
			color: red;
			padding-bottom: 20px;
		}
		.welcome_content{
			text-indent: 20px;
		}

	</style>
{% endblock css %}




{% block cont_ex %}

<div class="home container"><br/><br/><br/><br/>

	<div class="heading lead">
		Welcome to Student manager
	</div>

<div class="welcome_content lead">
	The Maratha noblewoman Tarabai was the head of a family that was a rival claimant to the Chhatrapati title. Originally a rival of Chhatrapati Shahu, she later pretended reconciliation with him. In the 1740s, during the last years of Shahu's life, Tarabai brought a child to him: Rajaram II. She presented the child as her grandson, and thus, a direct descendant of Shivaji. Shahu adopted the child, and after his death in 1749, Rajaram II succeeded him as the Chhatrapati.[5] The next year, Peshwa Balaji Rao left to fight against the Nizam of Hyderabad. In his absence, Tarabai urged Rajaram II to remove him from the post of Peshwa. When Rajaram refused, she imprisoned him in a dungeon at Satara, on 24 November 1750. She claimed that he was an impostor, and that she had falsely presented him as her grandson. Tarabai was unsuccessful in getting support from other ministers and the Nizam Salabat Jung. However, she managed to enlist the help of another noblewoman, Umabai Dabhade.[6]
	<br/><br/>
	Umabai Dabhade was the matriarch of the Dabhade family, whose members held the title of senapati (commander-in-chief) and controlled several territories in Gujarat. Her husband had been killed by the Mughals, and her eldest son had been killed by Balaji Rao's father for a rebellion against Chhatrapati Shahu. However, Shahu had forgiven the Dabhades and allowed them to retain ades had signed it under force. The Peshwa refused to entertain this argument.[3]
	<br/><br/>
	Umabai dispatched 15,000 troops led by her lieutenant Damaji Rao Gaekwad in support of Tarabai's rebellion. Gaekwad initially advanced towards Pune, prompting the Peshwa's mother Kashibai and his grandmother Radhabai to flee from Pune to Sinhagad. While enca

	The Maratha noblewoman Tarabai was the head of a family that was a rival claimant to the Chhatrapati title. Originally a rival of Chhatrapati Shahu, she later pretended reconciliation with him. In the 1740s, during the last years of Shahu's life, Tarabai brought a child to him: Rajaram II. She presented the child as her grandson, and thus, a direct descendant of Shivaji. Shahu adopted the child, and after his death in 1749, Rajaram II succeeded him as the Chhatrapati.[5] The next year, Peshwa Balaji Rao left to fight against the Nizam of Hyderabad. In his absence, Tarabai urged Rajaram II to remove him from the post of Peshwa. When Rajaram refused, she imprisoned him in a dungeon at Satara, on 24 November 1750. She claimed that he was an impostor, and that she had falsely presented him as her grandson. Tarabai was unsuccessful in getting support from other ministers and the Nizam Salabat Jung. However, she managed to enlist the help of another noblewoman, Umabai Dabhade.[6]
	<br/><br/>
	Umabai Dabhade was the matriarch of the Dabhade family, whose members held the title of senapati (commander-in-chief) and controlled several territories in Gujarat. Her husband had been killed by the Mughals, and her eldest son had been killed by Balaji Rao's father for a rebellion against Chhatrapati Shahu. However, Shahu had forgiven the Dabhades and allowed them to retain ades had signed it under force. The Peshwa refused to entertain this argument.[3]
	<br/><br/>
	Umabai dispatched 15,000 troops led by her lieutenant Damaji Rao Gaekwad in support of Tarabai's rebellion. Gaekwad initially advanced towards Pune, prompting the Peshwa's mother Kashibai and his grandmother Radhabai to flee from Pune to Sinhagad. While enca
<br/>
<br/>

</div>


</div>


{% endblock cont_ex %}